<div class="banner">
    <body>
        <head>
            <link rel="stylesheet" href="/static/assets/css/styles.css">
        </head>
    </body>

    <h1>
        Legend: {{ player_data['legends']['selected']['LegendName'] }}<br>
    </h1>

    <!-- Make badge checks -->
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['gameInfo']['badges'][0] %}
            Badge 1: {{ player_data['legends']['selected']['gameInfo']['badges'][0]['name'] }}<br>
        {% endif %}
    </span>
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['gameInfo']['badges'][1] %}
            Badge 2: {{ player_data['legends']['selected']['gameInfo']['badges'][1]['name'] }}<br>
        {% endif %}
    </span>
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['gameInfo']['badges'][2] %}
            Badge 3: {{ player_data['legends']['selected']['gameInfo']['badges'][2]['name'] }}<br>
        {% endif %}
    </span style="font-size:20px;">
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['data'][0] and 'value' in player_data['legends']['selected']['data'][0]%}
            {{ player_data['legends']['selected']['data'][0]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][0]['value'] }}<br>
        {% endif %}
    </span>
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['data'][1] and 'value' in player_data['legends']['selected']['data'][1] %}
            {{ player_data['legends']['selected']['data'][1]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][1]['value'] }}<br>
        {% endif %}
    </span>
    <span style="font-size:20px;">
        {% if 'name' in player_data['legends']['selected']['data'][2] and 'value' in player_data['legends']['selected']['data'][2] %}
            {{ player_data['legends']['selected']['data'][2]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][2]['value'] }}<br>
        {% endif %}
    </span>
</div>