<div class="banner">
    <!-- <head>
        <style>
            .images {
                display: flex;
                flex-wrap: wrap;
                margin: 0 50px;
                padding: 30px;
            }
      
            .photo {
                max-width: 31.333%;
                padding: 0 30px;
                height: 100px;
            }
      
            .photo img {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <h1>
        banner
    </h1>
    <div class="images">
        <div class="photo">
            <img src="/static/assets/img/S15_Predator.webp" alt="S15 Predator badge" width="100" height="100"/>
        </div>
  
        <div class="photo">
            <img src="/static/assets/img/20_kill_badge.webp" alt="20 bomb badge" width="100" height="100"/>
        </div>
          
        <div class="photo">
            <img src="/static/assets/img/4k_Badge.webp" alt="4k badge" width="10" height="100"/>
        </div>
    </div> -->
    <body>
        <head>
            <link rel="stylesheet" href="/static/assets/css/styles.css">
        </head>
    </body>

    <h1>
        Legend: {{ player_data['legends']['selected']['LegendName'] }}<br>
    </h1>
    <span style="font-size:20px;">
        Badge 1: {{ player_data['legends']['selected']['gameInfo']['badges'][0]['name'] }}<br>
    </span>
    <span style="font-size:20px;">
        Badge 2: {{ player_data['legends']['selected']['gameInfo']['badges'][1]['name'] }}<br>
    </span>
    <span style="font-size:20px;">
        Badge 3: {{ player_data['legends']['selected']['gameInfo']['badges'][2]['name'] }}<br>
    </span style="font-size:20px;">
    <span style="font-size:20px;">
        Tracker 1: {{ player_data['legends']['selected']['data'][0]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][0]['value'] }}<br>
    </span>
    <span style="font-size:20px;">
        Tracker 2: {{ player_data['legends']['selected']['data'][1]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][1]['value'] }}<br>
    </span>
    <span style="font-size:20px;">
        Tracker 3: {{ player_data['legends']['selected']['data'][2]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][2]['value'] }}<br>
    </span>

</div>