<div class="banner">
    <head>
        <style>
            .images {
                display: flex;
                flex-wrap: wrap;
                margin: 0 50px;
                padding: 30px;
            }
      
            .photo {
                max-width: 31.333%;
                padding: 0 30px;
                height: 100px;
            }
      
            .photo img {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <h1>
        banner
    </h1>
    <div class="images">
        <div class="photo">
            <img src="/static/assets/img/S15_Predator.webp" alt="S15 Predator badge" width="100" height="100"/>
        </div>
  
        <div class="photo">
            <img src="/static/assets/img/20_kill_badge.webp" alt="20 bomb badge" width="100" height="100"/>
        </div>
          
        <div class="photo">
            <img src="/static/assets/img/4k_Badge.webp" alt="4k badge" width="10" height="100"/>
        </div>
    </div>


</div>