<div class="history">
    <h1 style="text-align:center">
        Account History
    </h1>
    <body>
        <head>
            <link rel="stylesheet" href="/static/assets/css/styles.css">
        </head>
        <table>
            <tr>
                <th>Date</th>
                <th>Rank</th>
                <th>Level</th>
                <th>Tracker 1</th>
                <th>Tracker 2</th>
                <th>Tracker 3</th>
            </tr>
            <tr>
                <td>6/27/23</td>
                <td>Platinum 3</td>
                <td>321</td>
                <td>Kills: 44</td>
                <td>Wingman Mastery</td>
                <td>Wins: 13</td>
            </tr>
            <tr>
                <td>6/26/23</td>
                <td>Platinum 4</td>
                <td>298</td>
                <td>Kills: 30</td>
                <td>Wingman Mastery</td>
                <td>Wins: 9</td>
            </tr>
        </table>
    </body>
</div>