<!DOCTYPE html>

{% block title %}
Player Data
<hr />
{% endblock %}

{% block main %}

{{ player_data['global']['name'] }}<br>
{{ player_data['global']['platform'] }}<br>
{{ player_data['global']['rank']['rankName'] }}<br>
<!-- {{ player_data['global']['rank']['rankImg'] }}<br> -->
{{ player_data['global']['level'] }}<br>
{{ player_data['legends']['selected']['LegendName'] }}<br>
{{ player_data['legends']['selected']['gameInfo']['badges'][0]['name'] }}<br>
{{ player_data['legends']['selected']['gameInfo']['badges'][1]['name'] }}<br>
{{ player_data['legends']['selected']['gameInfo']['badges'][2]['name'] }}<br>
{{ player_data['legends']['selected']['data'][0]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][0]['value'] }}<br>
{{ player_data['legends']['selected']['data'][1]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][1]['value'] }}<br>
{{ player_data['legends']['selected']['data'][2]['name'] }}<a>: </a>{{ player_data['legends']['selected']['data'][2]['value'] }}<br>



<!-- <hr /> -->
<!-- {{ player_data }} -->

{% endblock %}